<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport"
      content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
    <title>わさ体重記録</title>
  </head>
  <body>
    <h1>わさ体重記録</h1>
    <form action="/weights/" method="post">
      <input type="text" name="weight">
      <input type="submit" value="保存">
      <p>今日の体重: {{.TodayWeight}} g</p>
      <p>昨日の体重: {{.YesterdayWeight}} g</p>
    </form>
  </body>
</html>
